@import url(https://fonts.google.com/specimen/Inter?query=inter);
* {
    margin: 0;
    padding: 0;
    font-family: 'inter',sans-serif;
    box-sizing: border-box;
}
body {
    background:#fff;
    color:#000000;
}
.fixedarea {
    background:#fff;
    width: 100%;
    min-height: 9vh;
    padding: 10px 12.5%;
    position: fixed;
    z-index: 2;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 40x;
    height: 40px;
    margin-top: 3px;
}
.menu {
    margin-left: 70px;
    display: flex;
    gap: 55px;
    text-shadow: #000;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu button {
    border: 0;
    outline: 0;
    background: #fff;
    cursor: pointer;
    font-size: 18px;
    color: #000;
    line-height: 27px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.menu a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.menu a:hover {
    text-decoration: underline;
}
/* *********************************fixed-section-over*********************** */
.row {
    position: absolute;
    margin-top: 9vh;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 120px;
    background: linear-gradient(rgb(57, 57, 79), rgb(29, 29, 42) 92%);
    background-size:cover;
}
.text-col {
    flex-basis: 30%;
    display: block;
    align-items: center;
    justify-content: space-around;
    margin-left: 70px;
}
.text-col h1 {
    font-size: 44px;
    font-weight: lighter;
    color: #fff;
    font-style: normal;
    margin-bottom: 20px;
}
h1 span {
    font-weight: 700;
    color: #76b83f;
    font-size: 42px;
    font-style: normal;
    letter-spacing: -1px;
}
.text-col p {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}
p span {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-top: 10px;
}

.text-col h1 img {
    width: 60x;
    height: 60px;
}
.img-col {
    flex-basis: 30%;
}
.img-col img {
    width: 85%;
    height: 70%;
    margin-left: 70px;    
}
.text-col button {
    background: #76b83f;
    border: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 55px;
    margin-bottom: 30px;
}
.text-col button:hover {
    background: #507d2b;
}
.row-two {
    position: absolute;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 120px;
    background: white;
    background-size:cover;
    gap: 50px;
    margin-top: 53vh;
}
.row-two .text-col p {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
.row-two .text-col h1 {
    color: #000;
    font-weight: 100;
    margin-bottom: 20px;
}
.row-two .img-col img {
    width: 85%;
    height: 70%;
}
.boxes {
    background-color: #ffffff;
    flex-grow: 1;
    flex-shrink: 10;
    margin-top: 100vh;
}
.heading h1,.heading h3 {
    display: flex;
    justify-content: center;
    color: #1a1a1a;
}
.heading h1 {
    font-size: 60px;
    font-weight: 700;
    padding-top: 10px;
}
.heading h3 {
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
    margin-bottom: 80px;
}
.cont {
    display: flex;
    gap: 30px;
    padding: 20px 30px 40px;
    letter-spacing: 0.1rem;
}
.cont-two h5 {
    font-size: 18px;
    font-weight: 700;    
}
.cont-two p {
    font-size: 16px;
    font-weight: 400;   
    max-width: 450px;
    line-height: 32px;
    margin-top: 20px;
}
.thebig {
    min-width: 900px;
    min-height: 100px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 10;
}
.premium h1, .premium h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.premium h1 {
    font-size: 60px;
    font-weight: 700;
    padding-top: 10px;
}
.premium h3 {
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
    margin-bottom: 60px;
}
.rect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.rect-boxes h2, .rect-boxes h3, .year, .rect-boxes .two-but, .rect-boxes h1  {
    display: flex;
    align-items: center;
    justify-content: center;
}
.big-rect {
    width: 275px;
    height: 555px;
    border: none;
    box-shadow: 0 0 10px rgba(126, 126, 126, 0.4);
}
.popular-box {
    width: 275px;
    height: 67px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #76b83f;
    color: #fff;
    box-shadow: 0 0 10px rgba(126, 126, 126, 0.4);
}
.big-rect h2 {
    font-size: 36px;
    font-weight: 400;
    color: #7d7d7d;
    padding-top: 41px;
    padding-bottom: 41px;
}
.big-rect h3 {
    font-size: 18px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 30px;
}
.big-rect h1 {
    font-size: 50px;
    font-weight: 400;
    color: #242433;
    margin-bottom: 1px;
}
.year {
    font-size: 14px;
    font-weight: 400;
    color: #8f8f8f;
}
.two-but button{
    border: 1px solid #76b83f;
    border-radius: 3px;
    padding: 5px 26px;
    margin-top: 19px;
}
.two-but {
    font-size: 16px;
    font-weight: 900;
    gap: 7px;
    margin-bottom: 26px;
}
.but-one {
    background-color: #fff;
    color: #76b83f;
}
.but-two {
    background: #76b83f;
    color: #fff;
}
.but-one:hover {
    background-color: #fff;
    color: #ff0000;    
}
.but-two:hover {
    background: #fff;
    color: #76b83f;
}
.para-arrange {
    font-size: 14px;
    color: #707070;
    line-height: 23px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.para-arrange img {
    width: 15px;
    margin-right: 12px;
}
.line hr {
    width: 30%;
    margin-bottom: 30px;
    border: 1px; 
    height: 2px;
    background-image: linear-gradient(left, transparent, #1a1a1a, transparent);
    background-size: 50% 2px;
    background-repeat: no-repeat;
    background-color: #000;    
}
.line {
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular-box- {
    width: 275px;
    height: 67px;
    border: none;
    background: none;
}
.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 27px;
}
.bottom {
    padding: 56px 0;
    margin-bottom: 60px;
}
.bottom p {
    font-size: 16px;
    font-weight: 400;
    color: #1a1a1a;
}
.bottom p a {
    text-decoration: none;
    color: #60a2d8;
}
.bottom p a:hover {
    text-decoration: underline;
    color: #3066ae;
}
.grey-box {
    background: #ebebeb;
}
.head-line {
    display: flex;
    align-items: flex-start;
    padding-top: 35px;
    padding-bottom: 35px;
}
.head-line h1{
    font-size: 42px;
    font-weight: 200;
    color: #000;
    gap: 15px;
}
.heading-para {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.heading-para p {
    max-width: 420px;
    font-size: 16px;
    font-weight: 400;
    color: #1a1a1a;
    margin-bottom: 28px;
    line-height: 30px;
}
.heading-para ul {
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #1a1a1a;
    line-height: 30px;
}
.heading-para img {
    margin-top: 15px;
    height: 60px;
    width: 150px;
    margin-left: -5px;
}
.last-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    gap: 45px;
}
.big-image img {
    width: 550px;
    height: 545px;
}
.last {
    margin-right: 110px;
    padding-bottom: 320px;
}
.footer {
    background: rgb(36,36,51);
}
.top-footer {
    display: flex;
    padding-top: 45px;
    margin-left: 204px;
    margin-right: 204px;
    padding-bottom: 60px;
    border-bottom: 1px solid #999;
}
.four-boxes {
    display: flex;
    justify-content: center;
}
.foot-img {
    position: relative;
    display: flex;
    justify-content: center;
}
.foot-img img {
    height: 41px;
    margin-right: 70px;
}
.ul-class ul {
    list-style: none;
    margin-top: 8px;
}
.ul-class ul li a , .ul-class ul li a img {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
}
.ul-class ul li a:hover {
    text-decoration: none;
    color: #4387e2;
}
.ul-class h1 {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}
.ul-class {
    padding: 0 60px;
}
.four-boxes-two {
    display: flex;
    justify-content: center;
}
.four-boxes-two .ul-class {
    display: flex;
    padding: 0 none;
    white-space: nowrap;
    padding: 0 35px 10px;
    margin-top: 25px;
    line-height: 33px;
}
.foot-para {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
    padding-right: 26px;
}
.foot-para h6 {
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
}
.foot-para small {
    font-size: 13px;
    font-weight: 100;
    margin-top: 10px;
    width: 220px;
    color: #999999;
    line-height: 25px;
}
.bottom-footer {
    display: flex;
    padding-top: 40px;
    margin-left: 204px;
    margin-right: 204px;
    padding-bottom: 40px;
    border-bottom: 1px solid #999;
}
.copy-rights {
    display: flex;
    justify-content: space-around;
    gap: 107px;
    padding-top: 52px;
    padding-bottom: 44px;
}
.copy-rights small {
    font-size: 13px;
    color: #999999;
    font-weight: 100;
}
.single-line {
    list-style: none;
    display: flex;
    font-size: 13px;
    font-weight: 300;
}
.single-line .no-bullet::before {
    content: "|";
    color: #999999;
    padding: 0 3px;
}
.single-line a {
    text-decoration: none;
    color: #fff;
}
.single-line a:hover {
    color: #4387e2;
}
.footer hr {
    margin: 0 200px;
    background: #999;
    border-bottom: 1px solid #999;
}
/* Your existing CSS styles */

/* Media Query for Desktop */
@media screen and (min-width: 1024px) {
    .fixedarea {
        padding: 10px 12.5%;
    }

    .menu {
        margin-left: 70px;
        gap: 55px;
    }
    .footer {
        display: grid;
        align-items: center;
        justify-content: center;
    }
}
